<p>&copy; {{ 'now' | date: '%Y' }} <a href="https://darainedelevante.com" target="_blank">
  <span onmouseover="this.style.color='#ed2024'" onmouseout="this.style.color='#7d7d7d'" style="color: #7d7d7d;">Consumer Law Secrets LLC</span>
</a>| All Rights Reserved.</p>
